@import "tailwindcss";

.hero-swiper .swiper-pagination {
 position: absolute;
 bottom: 50px;
 left: 0;
 right: 0;
 text-decoration: green;

 text-align: center;
 z-index: 30;
}

.swiper-pagination-bullet {
 background-color: #a81f1f;
 opacity: 0.5;
}
.hero-swiper .swiper-pagination-bullet-active {
 background-color: #8b941f;
 opacity: 1;
}

html,
body {
 @apply bg-white text-black;

 @media (prefers-color-scheme: dark) {
  color-scheme: dark;
 }
}
